:root{
  /* --azul:#31869A; */
   --azul:#31869A; 
   --azul2: #0C404D;
  --gris: #5E5C5C;
  --cafe:#96785B;
  /* --rojo: #B72223;  */
  --negro:#000000;
  --rojo:#ac0e28;
/*     
  --celeste:#6B99C3;
  --cafe2: #65483D;
  --gris: #9E8279;
  --gris2: #564C55; */ 
  --biryani:font-family: 'Berlin Sans FB', sans-serif;
}
.navbar_inicio{
    min-height: 80px;
    font-family: "Cera Pro", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1050; 
  }
  .navbar_inicio a:hover{
    font-size: 16px;
  }
  

  .navbar_inicio2{
    min-height: 80px;
    font-family: "Cera Pro", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1050; 
  }

  
.navbar_admin{
  background-color: black;
  
}

.navbar_admin .active{
  color: white; 

}
/* Estilo para el enlace activo */
  a.nav-link.active {
  font-weight: bold;
  color: white;
}
/* .nav-item{
  color: white !important;
}
.nav-link{
  color: white;

} */
 .dropdown-menu{
  background-color: var(--negro);
  color: white;
  border: 0;
}
 .dropdown-menu a:hover{
  color: var(--negro);
  border: 0;
  background-color: white;
}
.dropdown-item{
  color: white ;
}

.user-circle {
  width: 30px;               /* Ajusta según el tamaño que necesites */
  height: 30px;
  background-color: #0C404D ;     /* Cambia el color según tus necesidades */
  color: white;               /* Color de la letra */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;         /* Esto hace que el div sea redondo */
  font-size: 20px;            /*Tamaño de la letra*/
  font-weight: bold;          /* Negrita para la letra */
  text-transform: uppercase;  /* Asegura que la letra esté en mayúscula */
  margin: auto;
}


.navbar-light {
    background-color: white !important; /* Fondo blanco para el navbar-light */
    color: var(--negro)!important; /* Color de texto personalizado */
}

.navbar-light .navbar-nav .nav-link {
    color: var(--negro) !important; /* Asegura que el color de los enlaces se aplique */
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--negro) !important; /* Color para el enlace activo */
}

.navbar-dark{
  color: var(--gris);
}
.navbar-dark .navbar-nav .nav-link {
  font-weight: bold;
  color: var(--gris) !important; /* Asegura que el color de los enlaces se aplique */
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--gris) !important; /* Color para el enlace activo */
}


.menu .dropdown-menu{
  background-color: var(--rojo);
  color: white;
  border: 0;
    font-family: "Cera Pro", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    z-index: 1050; 
  
}
.menu .dropdown-menu a:hover{
  color: var(--negro);
  background-color: white;
  border: 0;
    font-family: "Cera Pro", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    z-index: 1050; 
}
.menu .dropdown-item{
  color: white ;
}